body {
    background-color: rgb(238, 238, 238);
}

header {
    display: flex;
    align-items: center;
    font-family:'Trebuchet MS';
    height: 60px;
    border-bottom: 2px solid black;
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 50px;
    gap: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: 25px;
    gap: 40px;
    color: black;
}

.nav-links a:hover {
    transform: scale(1.08);
}

.nav-links a {
    text-decoration: none;
    color: black;
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: transform 0.2s ease;
}

.espacio {
    margin-left: 475px;
}

.zona-derrota {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 700px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    
}

.area a {
    text-decoration: none;
    color: black;
    display: inline-block;
    transition: transform 0.2s ease;
}

.area .enlaces {
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: 100%;
}


.area .volver-mapa {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area .reintentar-caça {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volver-mapa {
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgb(228, 228, 228);
    width: 200px;
    height: 50px;
    font-size: 20px;
}

.reintentar-caça {
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: red;
    width: 200px;
    height: 50px;
    font-size: 20px;
}

.derrota-decoracion {
    margin-top: 20px;
    width: 400px;
    height: 500px;
    border-radius: 15px;
    border: 1px solid black;
}

.tetxo-derrota {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.imagen-pokeball {
    display: flex;
    justify-content: center;
}

.texto-escapado {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 30px;
}