body {
    background-color: rgb(238, 238, 238);
}

header {
    display: flex;
    align-items: center;
    font-family:'Trebuchet MS';
    height: 60px;
    border-bottom: 2px solid black;
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 50px;
    gap: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: 25px;
    gap: 40px;
    color: black;
}

.nav-links a:hover {
    transform: scale(1.08);
}

.nav-links a {
    text-decoration: none;
    color: black;
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: transform 0.2s ease;
}

.active {
    border-bottom: 3px solid red;
}

.espacio {
    margin-left: 475px;
}

.imagen-mapa {
    display: flex;
    width: auto;
    height: 865px;
    border: 1px solid black;

}

.mapa-caza {
    display: flex;
}

.boton-volver {
    font-family:'Trebuchet MS';
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: black;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 15px;
    width: 200px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
}

.boton-volver:hover {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

.mapa {
    display: flex;
    justify-content: center;
}

.info-mapa {
    font-family: Trebuchet MS;
    display: flex;
    margin-left: 7%;
    margin-right: 20px;
}