body {
    background-color: rgb(238, 238, 238);
}

header {
    display: flex;
    align-items: center;
    font-family:'Trebuchet MS';
    height: 60px;
    border-bottom: 2px solid black;
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 50px;
    gap: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: 25px;
    gap: 40px;
    color: black;
}

.nav-links a:hover {
    transform: scale(1.08);
}

.nav-links a {
    text-decoration: none;
    color: black;
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: transform 0.2s ease;
}

.active {
    border-bottom: 3px solid red;
}

.espacio {
    margin-left: 475px;
}

.final {
    display: flex;
    background-color: red;
    height: 200px;
}

.pokedex-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 25px;
    padding: 200px;
    padding-top: 40px;
    justify-content: center;
    justify-items: center;
}